/* убираем обрамление */
:focus {
	 outline: none;
}
/* убираем обрамление */
body {
	font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red; }

body input:required:valid,
body textarea:required:valid {
	color: green; }

/* убираем обрамление */

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner : {
	border: none
}

/* убираем обрамление */

.hidden {
	display: none; }

section,
.main_head {
	position: relative; }
	section h3,
	.main_head h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 35px; }

section {
	padding: 70px 0 80px; }
	section h2 {
		text-align: center;
		font-size: 24px;
		text-transform: uppercase;
		margin: 0 0 15px;
		letter-spacing: 1px; }
	section .personal_header {
		font-size: 13px;
		text-align: left;
		margin-bottom: 30px;
		color: #555; }

.s_descr_wrap {
	text-align: center; }
	.s_descr_wrap .s_descr {
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		position: relative;
		margin-bottom: 100px;
		font-weight: 600; }
		.s_descr_wrap .s_descr::after {
			content: "";
			width: 150px;
			height: 1px;
			position: absolute;
			left: 50%;
			margin-left: -75px;
			margin-top: 50px; }

.main_head {
	min-height: 480px;
	padding-top: 20px; }

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999; }
	.loader .loader_inner {
		background-image: url("../img/preload.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		height: 60px;
		width: 200px;
		left: 45%;
		top: 45%;
		position: absolute; }

.logo_container {
	float: left; }

svg {
	height: 60px;
	width: 60px;
	z-index: 1;
	position: relative; }

.toggle_menu {
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 100;
	border: 0;
	right: 20px;
	top: 20px;
	cursor: pointer; }
	.toggle_menu span {
		display: block; }

.sandwich {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 12px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200; }

.sw-topper {
	position: relative;
	top: 0;
	width: 34px;
	height: 3px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	display: block; }

svg path {
	fill: #e0e0e0; }

.sw-bottom {
	position: relative;
	width: 34px;
	height: 3px;
	top: 7.5px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s; }

.sw-footer {
	position: relative;
	width: 34px;
	height: 3px;
	top: 13.5px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s; }

.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
	top: 7px;
	transform: rotate(45deg); }
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg); }

.top_menu {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 50;
	right: 0;
	top: 0; }
	.top_menu ul,
	.top_menu li {
		list-style-type: none;
		padding: 0;
		margin: 0; }
	.top_menu ul {
		margin-top: 180px;
		text-align: center; }
		.top_menu ul li:nth-child(1) a {
			-webkit-animation-duration: 0.5s;
			-moz-animation-duration: 0.5s;
			animation-duration: 0.5s; }
		.top_menu ul li:nth-child(2) a {
			-webkit-animation-duration: 0.1s;
			-moz-animation-duration: 0.1s;
			animation-duration: 0.1s; }
		.top_menu ul li:nth-child(3) a {
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			animation-duration: 1.5s; }
		.top_menu ul li:nth-child(4) a {
			-webkit-animation-duration: 2s;
			-moz-animation-duration: 2s;
			animation-duration: 2s; }
		.top_menu ul a {
			color: #fff;
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			opacity: 0;
			position: relative;
			height: 60px;
			outline: none; }
			.top_menu ul a span {
				display: block;
				position: relative;
				top: -40px;
				left: 0;
				height: 100%;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				transition: all 0.5s ease; }
				.top_menu ul a span:hover {
					background-color: rgba(255, 255, 255, 0.08); }

.top_wrapper {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10; }
	.top_wrapper .top_descr {
		display: table-row; }
		.top_wrapper .top_descr .top_centered {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			background-color: rgba(0, 0, 0, 0.3); }
	.top_wrapper .top_text {
		display: inline-block;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease; }
		.top_wrapper .top_text p {
			margin: 0;
			text-transform: uppercase;
			-webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			animation-delay: 1s; }
		.top_wrapper .top_text h1 {
			display: inline-block;
			padding: 10px 30px;
			color: #fff;
			border: 8px solid #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 2.8em;
			background-color: transparent;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 15px;
			-webkit-animation-delay: 0.8s;
			-moz-animation-delay: 0.8s;
			animation-delay: 0.8s; }

.toggle_menu {
	background-color: #000; }

.opacty {
	opacity: 0.3;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease; }

.main_footer {
	padding: 50px 0;
	font-size: 14px;
	font-weight: 400;
	outline: red 1px solid; }
	.main_footer .social_wrap {
		float: right; }
		.main_footer .social_wrap ul {
			margin: 0; }
		.main_footer .social_wrap a {
			color: #fff; }

.person {
	text-align: center;
	padding-bottom: 40px; }
	.person img {
		max-width: 220px;
		display: inline-block;
		border-radius: 50%; }

.s_about p {
	margin-bottom: 25px; }
.s_about ul, .s_about li {
	margin: 0;
	padding: 0;
	list-style-type: none; }
.s_about li {
	margin-bottom: 10px; }
.s_about .social_wrap {
	margin-top: 25px; }

.social_wrap li {
	display: inline-block;
	font-size: 20px;
	padding: 0 3px; }

.resume_container .left {
	text-align: right;
	border-right: #e7e7e7 1px solid; }
	.resume_container .left h3 {
		text-align: right; }
.resume_container .right {
	text-align: left; }
	.resume_container .right h3 {
		text-align: left; }

.resume_icon {
	font-size: 40px;
	margin-bottom: 25px; }

.resume_item .year {
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 10px; }
.resume_item strong {
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase; }

.resume_item {
	margin-bottom: 30px; }

.resume_descr {
	margin-bottom: 5px; }

.s_portfolio ul,
.s_portfolio li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center; }
.s_portfolio li {
	display: inline-block;
	margin: 0 10px;
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
	line-height: 2; }
.s_portfolio ul {
	margin-bottom: 50px; }

.portfolio_item {
	padding: 0; }
	.portfolio_item img {
		width: 100%; }
	.portfolio_item .port_item_container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		padding-top: 15%;
		opacity: 0;
		transition: all 0.5s; }
	.portfolio_item:hover .port_item_container {
		opacity: 1;
		padding-top: 20%; }
	.portfolio_item h3 {
		color: #fff;
		margin-bottom: 20px; }
	.portfolio_item p {
		margin-bottom: 15px; }
	.portfolio_item a {
		background-color: transparent;
		padding: 2px 10px;
		border: #fff 1px solid; }

.port_descr {
	background-color: #FFF;
	max-width: 500px;
	margin: auto; }
	.port_descr p,
	.port_descr h3 {
		padding: 10px 15px;
		padding-bottom: 0; }
	.port_descr h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 0; }
	.port_descr p {
		text-align: justify; }
	.port_descr img {
		width: 100%;
		padding: 7px; }

.mfp-content {
	max-width: 500px; }
	.mfp-content .mfp-close {
		top: 20px; }

.mfp-content .modal_box_content {
	box-shadow: 0px 5px 22px #fff; }

/*# sourceMappingURL=main.css.map */
